<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAFFIC HMI / CONTROLLER CONTROL PANEL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Rajdhani:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    {% include 'components/sidebar.html' %}

    {% include 'components/topbar.html' %}

    <!-- CANVAS AREA -->
    <div id="canvas">
        {% include 'components/connection.html' %}
    </div>

    {% include 'components/mode2_panel.html' %}

    <!-- TOAST CONTAINER -->
    <div id="toast-container"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>